VBox {
    -fx-background-color: #ffffff;
    -fx-padding: 20px;
    -fx-spacing: 20px;
}

Label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

TextField {
    -fx-background-color: #ecf0f1;
    -fx-border-radius: 5px;
    -fx-border-color: #bdc3c7;
    -fx-border-width: 1;
    -fx-padding: 8px;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #7f8c8d;
}

ChoiceBox, Spinner {
    -fx-background-color: #ecf0f1;
    -fx-border-radius: 5px;
    -fx-border-color: #bdc3c7;
    -fx-border-width: 1;
}

ChoiceBox:focused, Spinner:focused {
    -fx-border-color: #2980b9;
}

TextField:focused {
    -fx-border-color: #2980b9;
    -fx-effect: dropshadow(gaussian, rgba(41, 128, 185, 0.5), 5, 0.3, 0, 3);
}

TableView {
    -fx-background-color: #ffffff;
    -fx-border-width: 1;
    -fx-border-color: #bdc3c7;
    -fx-effect: dropshadow(gaussian, rgba(189, 195, 199, 0.7), 5, 0.3, 0, 2);
    -fx-padding: 10px;
    -fx-table-cell-border-color: transparent;
}

TableColumn {
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-padding: 10px;
    -fx-background-color: #f4f4f9;
}

.table-view .column-header-background {
    -fx-background-color: #3498db;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

TableCell {
    -fx-font-size: 14px;
    -fx-text-fill: #34495e;
    -fx-padding: 10px;
    -fx-background-color: #ecf0f1;
    -fx-border-color: #bdc3c7;
    -fx-border-width: 0 0 1 0;
}

.table-row-cell:selected {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
}

.table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-row-cell:even {
    -fx-background-color: #ecf0f1;
}

.table-row-cell:hover {
    -fx-background-color: #dfe6e9;
}

.table-cell .button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-cursor: hand;
    -fx-border-color: transparent;
}

.table-cell .button:hover {
    -fx-background-color: #2980b9;
}

.table-view .scroll-bar {
    -fx-background-color: #bdc3c7;
}

.table-view .scroll-bar .thumb {
    -fx-background-color: #3498db;
    -fx-background-radius: 10px;
}

.table-view .scroll-bar .thumb:hover {
    -fx-background-color: #2980b9;
}
